---
const { title } = Astro.props;
const links = [
  {
    label: `Work`,
    href: `#`
  },
  {
    label: `Pricing`,
    href: `#`
  },
  {
    label: `Services`,
    href: `#`
  },
  {
    label: `About Me`,
    href: `#`
  },
  {
    label: `Blog`,
    href: `#`
  }
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-orange-50 flex flex-col h-screen">
    <header>
      <nav
        class="flex items-center justify-between p-6 lg:px-8"
        aria-label="Global"
      >
        <!-- Logo -->
        <div class="flex lg:flex-1">
          <a href="/" class="-m-1.5 p-1.5">
            <span class="sr-only">Caroline Sancken</span>
            <svg
              class="h-8 w-8 lg:h-10 lg:w-10"
              viewBox="0 0 160 160"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="160" height="160" rx="40" fill="black"></rect>
              <path
                d="M123.545 67.6364H100.818C100.515 65.303 99.8939 63.197 98.9545 61.3182C98.0152 59.4394 96.7727 57.8333 95.2273 56.5C93.6818 55.1667 91.8485 54.1515 89.7273 53.4545C87.6364 52.7273 85.3182 52.3636 82.7727 52.3636C78.2576 52.3636 74.3636 53.4697 71.0909 55.6818C67.8485 57.8939 65.3485 61.0909 63.5909 65.2727C61.8636 69.4545 61 74.5151 61 80.4545C61 86.6364 61.8788 91.8182 63.6364 96C65.4242 100.152 67.9242 103.288 71.1364 105.409C74.3788 107.5 78.2121 108.545 82.6364 108.545C85.1212 108.545 87.3788 108.227 89.4091 107.591C91.4697 106.955 93.2727 106.03 94.8182 104.818C96.3939 103.576 97.6818 102.076 98.6818 100.318C99.7121 98.5303 100.424 96.5152 100.818 94.2727L123.545 94.4091C123.152 98.5303 121.955 102.591 119.955 106.591C117.985 110.591 115.273 114.242 111.818 117.545C108.364 120.818 104.152 123.424 99.1818 125.364C94.2424 127.303 88.5758 128.273 82.1818 128.273C73.7576 128.273 66.2121 126.424 59.5455 122.727C52.9091 119 47.6667 113.576 43.8182 106.455C39.9697 99.3333 38.0455 90.6667 38.0455 80.4545C38.0455 70.2121 40 61.5303 43.9091 54.4091C47.8182 47.2879 53.1061 41.8788 59.7727 38.1818C66.4394 34.4848 73.9091 32.6364 82.1818 32.6364C87.8182 32.6364 93.0303 33.4242 97.8182 35C102.606 36.5455 106.818 38.8182 110.455 41.8182C114.091 44.7879 117.045 48.4394 119.318 52.7727C121.591 57.1061 123 62.0606 123.545 67.6364Z"
                fill="white"></path>
            </svg>
          </a>
        </div>
        <!-- Hamburger Button -->
        <div class="flex lg:hidden">
          <button
            type="button"
            class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
            data-mobile-menu-open
          >
            <span class="sr-only">Open main menu</span>
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
            </svg>
          </button>
        </div>
        <!-- DT Links -->
        <div class="hidden lg:flex lg:gap-x-12">
          {
            links.map((link) => (
              <a
                href={link.href}
                class="text-sm font-semibold leading-6 text-gray-900"
              >
                {link.label}
              </a>
            ))
          }
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
          <a href="#" class="text-sm font-semibold leading-6 text-gray-900"
            >Get in touch <span aria-hidden="true">&rarr;</span></a
          >
        </div>
      </nav>
      <!-- Mobile menu, show/hide based on menu open state. -->
      <div
        class="hidden lg:hidden"
        role="dialog"
        aria-modal="true"
        id="mobile-menu"
      >
        <!-- Background backdrop, show/hide based on slide-over state. -->
        <div class="fixed inset-0 z-50" data-mobile-menu-close></div>
        <div
          class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
        >
          <div class="flex items-center justify-between">
            <a href="#" class="-m-1.5 p-1.5">
              <span class="sr-only">Caroline Sancken</span>
              <svg
                class="h-8 w-8 lg:h-10 lg:w-10"
                viewBox="0 0 160 160"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect width="160" height="160" rx="40" fill="black"></rect>
                <path
                  d="M123.545 67.6364H100.818C100.515 65.303 99.8939 63.197 98.9545 61.3182C98.0152 59.4394 96.7727 57.8333 95.2273 56.5C93.6818 55.1667 91.8485 54.1515 89.7273 53.4545C87.6364 52.7273 85.3182 52.3636 82.7727 52.3636C78.2576 52.3636 74.3636 53.4697 71.0909 55.6818C67.8485 57.8939 65.3485 61.0909 63.5909 65.2727C61.8636 69.4545 61 74.5151 61 80.4545C61 86.6364 61.8788 91.8182 63.6364 96C65.4242 100.152 67.9242 103.288 71.1364 105.409C74.3788 107.5 78.2121 108.545 82.6364 108.545C85.1212 108.545 87.3788 108.227 89.4091 107.591C91.4697 106.955 93.2727 106.03 94.8182 104.818C96.3939 103.576 97.6818 102.076 98.6818 100.318C99.7121 98.5303 100.424 96.5152 100.818 94.2727L123.545 94.4091C123.152 98.5303 121.955 102.591 119.955 106.591C117.985 110.591 115.273 114.242 111.818 117.545C108.364 120.818 104.152 123.424 99.1818 125.364C94.2424 127.303 88.5758 128.273 82.1818 128.273C73.7576 128.273 66.2121 126.424 59.5455 122.727C52.9091 119 47.6667 113.576 43.8182 106.455C39.9697 99.3333 38.0455 90.6667 38.0455 80.4545C38.0455 70.2121 40 61.5303 43.9091 54.4091C47.8182 47.2879 53.1061 41.8788 59.7727 38.1818C66.4394 34.4848 73.9091 32.6364 82.1818 32.6364C87.8182 32.6364 93.0303 33.4242 97.8182 35C102.606 36.5455 106.818 38.8182 110.455 41.8182C114.091 44.7879 117.045 48.4394 119.318 52.7727C121.591 57.1061 123 62.0606 123.545 67.6364Z"
                  fill="white"></path>
              </svg>
            </a>
            <button
              type="button"
              class="-m-2.5 rounded-md p-2.5 text-gray-700"
              data-mobile-menu-close
            >
              <span class="sr-only">Close menu</span>
              <svg
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
          </div>
          <div class="mt-6 flow-root">
            <div class="-my-6 divide-y divide-gray-500/10">
              <div class="space-y-2 py-6">
                {
                  links.map((link) => (
                    <a
                      href={link.href}
                      class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                    >
                      {link.label}
                    </a>
                  ))
                }
              </div>
              <div class="py-6">
                <a
                  href="#"
                  class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                  >Get in touch</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <slot />
    <footer class="p-6 lg:p-8 text-center text-sm leading-6 text-slate-500">
      <p>© 2023 Caroline Sancken. All rights reserved.</p>
      <a href="mailto:hey@carolinesancken.com">hey@carolinesancken.com</a>
    </footer>
  </body>
</html>
<style is:global></style>
<script>
  const mobileMenu = document.getElementById(`mobile-menu`);

  document.querySelectorAll(`[data-mobile-menu-open]`).forEach((button) => {
    button?.addEventListener(`click`, () => {
      mobileMenu?.classList.remove(`hidden`);
    });
  });

  document.querySelectorAll(`[data-mobile-menu-close]`).forEach((button) => {
    button?.addEventListener(`click`, () => {
      mobileMenu?.classList.add(`hidden`);
    });
  });
</script>
